* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: rgb(32, 0, 0);
}

body {
  background-color: #8b2e2e;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

::selection {
  color: rgb(247, 225, 225);
  background: rgb(85, 1, 57);
}

header {
  padding: 40px;
  text-align: center;
  background: #f59494;
  border-bottom:30px #927474;
  display: inline;
}

header .timer .timeLeft{
  font-weight: bolder;
  font-size: 26px;
  user-select: none;
  margin-top: -20px;
}

header .timer .timeCount{
  font-size: 26px;
  font-weight: bolder;
  padding: 5px;
  text-align: center;
  user-select: none;
  margin-top: -20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.heading {
  text-align: center;
  background: #f59494;
  text-decoration: underline;
  font-size: 40px;
  font-weight: bolder;
}

.timer {
  padding: 10px;
  text-align: right;
  background: #f59494;
}

.timerCount {
  padding: 10px;
  height: 10px;
  margin-top: -30px;
  font-weight: bolder;
  font-size: 28px;
  background: #f59494;
}

.highScore {
  text-align: left;
  height: 10px;
  padding: 10px;
  background: #f59494;
  text-decoration: underline;
}

.startBtn, .quizCard, .resultsBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quizCard.activeQuiz,
.resultsBox.activeResult{
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.startBtn button {
  background: radial-gradient(circle, rgb(197, 135, 182) 0%, rgba(155, 45, 113, 0.954) 100%);
  border-radius: 8px;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
}

.quizCard {
  background: radial-gradient(circle, rgb(214, 101, 171) 0%, rgba(175, 41, 115, 0.604)100%);
  border: 1px solid #eebcbc;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  margin: auto;
  flex: 0 auto;
  padding: 8px;
  margin-top: 50px;
  pointer-events: none;
  transition: all 0.3s ease;
}

section{
  padding: 25px 30px 20px 30px;
}

section .questions{
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

section .optionsList .options{
  padding: 20px 0px;
  display: block;
  background: radial-gradient(circle, rgb(141, 101, 214) 0%, rgba(132, 41, 175, 0.604)100%);
  border: 1px solid #eebcea;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  margin: 20px;
  flex: 0 auto;
}

section .optionsList .option:last-child{
  margin-bottom: 0px;
}
section .optionsList .option:hover{
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
}
section .optionsList .option.correct{
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}
section .optionsList .option.incorrect{
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

footer{
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
}

footer .totalQuestions span{
  display: flex;
  user-select: none;
}
footer .totalQuestions span p{
  font-weight: 500;
  padding: 0 5px;
}
footer .totalQuestions span p:first-child{
  padding-left: 0px;
}

footer button{
  height: 40px;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  background: radial-gradient(circle, rgb(214, 101, 171) 0%, rgba(175, 41, 115, 0.604)100%);
  border: 1px solid #eebcbc;
  line-height: 10px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
  transition: all 0.3s ease;
}
footer button:hover{
  background: #ca0266;
}
footer button.show{
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.resultsBox{
  background: radial-gradient(circle, rgb(214, 101, 171) 0%, rgba(175, 41, 115, 0.604)100%);
  border-radius: 5px;
  display: flex;
  padding: 25px 30px;
  width: 450px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.resultsBox .icon{
  font-size: 100px;
  margin-bottom: 10px;
}
.resultsBox .completeText{
  font-size: 20px;
  font-weight: 500;
}
.resultsBox .scoreText span{
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
.resultsBox .scoreText span p{
  padding: 0 4px;
  font-weight: 600;
}
.resultsBox .buttons{
  display: flex;
  margin: 20px 0;
}
.resultsBox .buttons button{
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #eebcbc;
  transition: all 0.3s ease;
}

.buttons button.restart{
  background: radial-gradient(circle, rgb(214, 101, 171) 0%, rgba(175, 41, 115, 0.604)100%);
  border: 1px solid #eebcbc;
}
.buttons button.restart:hover{
  color: rgb(187, 0, 178);
  background: #ca0202;
}
.buttons button.cancel{
  background: radial-gradient(circle, rgb(214, 101, 171) 0%, rgba(175, 41, 115, 0.604)100%);
  border: 1px solid #eebcbc;
}
.buttons button.cancel:hover{
  color: rgb(187, 0, 178);
  background: #ca0202;
}

.buttons button.btn{
  background: radial-gradient(circle, rgb(214, 101, 171) 0%, rgba(175, 41, 115, 0.604)100%);
  border: 1px solid #eebcbc;
}
.buttons button.btn:hover{
  color: rgb(187, 0, 178);
  background: #ca0202;
}