* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 201, 179);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  }